.container {
    background-image: url("../../../public/images/bckg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    color: #F7B96F;
}

.login-form {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1A;
    border-radius: 15px;
    box-shadow: inset 0px 0px 15px 10px #0000002f;
    padding: 1vw 1vh;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs input {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    box-shadow: inset 0px 0px 10px 5px #0000002f;
    padding: 10px 10px;
    width: 18vw;
    margin: 10px 10px;
    transition: all ease 0.2s;
}

input:hover {
    box-shadow: none;
}

input:focus {
    border: 1px solid #f38f15;
    box-shadow: none;
}

label {
    margin-inline: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button.btn {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 45%;
    padding: 5px 5px;
    box-shadow: inset 0px 0px 10px 5px #0000002f;
    transition: all ease 0.2s;
}

#lgn {
    background-color: #0f0f0f;
    color: #fff;
    box-shadow: none;
}

button.btn:hover {
    box-shadow: none;
    scale: 105%;
}

input.pass-error {
    border: 1px solid red;
}

input.pass-good {
    border: 1px solid transparent;
}

#eyeIcon {
    color: #0f0f0f;
}
