#spyder {
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
    left: -50px;
}

#fan {
    width: 50px;
    height: 50px;
}

.work-station {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

p.dtm-title {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

input#l-eye-color, input#r-eye-color {
    display: none;
}

.central {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down {
    height: 50vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;
    left: -50px;
}

.fans-sliders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotate(90deg);    
}

.hide {
    display: none;
}

.overlay {
    position: absolute;
    left: -3vw;
    width: 150%;
    height: 95%;
    z-index: 1;
    background-color: #00000096;
}

.fan-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

input[type="range"] {
    transform: rotate(180deg);
    margin-inline: 10px;
}

.vertical .fan-slider:first-child, .vertical .fan-slider:last-child {
    transform: translateX(-50px);
}

.block {
    background-color: #1e1e1e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#value {
    font-weight: bold;
    color: #fff;
}

.eye-img {
    cursor: pointer;
    position: relative;
    top: 50px;
}

input[type="date"], input[type="time"] {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
}

p.subtitle {
    color: #fff;
    font-weight: bold;
}

/******* Switch *******/

.switch {
    position: relative;
    display: inline-block;
    width: 80px; /*60px*/
    height: 35px; /*34px*/
}

.switch input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ce0000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; /*26px*/
    width: 26px; /*26px*/
    left: 4px; /*4px*/
    bottom: 4px;/*4px*/
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    content: "M";
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.switch input:checked + .slider::before {
    content: "A";
    font-family: "Poppins", sans-serif;
}

.switch input:checked + .slider {
    background-color: #02bb58;
}
  
.switch input:focus + .slider {
    box-shadow: 0 0 1px #02bb58;
}
  
.switch input:checked + .slider:before {
    -webkit-transform: translateX(45px); /*26px*/
    -ms-transform: translateX(45px); /*26px*/
    transform: translateX(45px); /*26px*/
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.values {
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    align-items: center;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar img {
    margin-block: 1px;
}

#modeBar {
    width: 10vw;
}

/***** Sliders *****/


input[type="range"] {
    -webkit-appearance: none;
    width: 130px;
    height: 30px;
    --progress: 50%;
    background: linear-gradient(to right, #007bff var(--progress), #ddd var(--progress));
    outline: none;
    transition: all ease-in 0.1s;
    cursor: pointer;
    border-radius: 5px;
}

input[type="range"]::before {
    content: "";
    height: 10px;
    background: #007bff;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 50px;
    border-radius: 0; 
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
}

input#s5 {
    transform: rotate(0deg);
}

.canv {
    transform: translateY(20%) translateX(-5%);
}