/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #383838;
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #F7B96F;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ec8f1d;
}